<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Azure -->
    <!--A the namespace created in the azure portal for azure service bus -->
    <add key="Azure.ServiceBus.Namespace" value="" />
    <!--The AccessKey, visible in Shared Access Policies on the Azure Portal -->
    <add key="Azure.ServiceBus.AccessKey.Name" value="RootManageSharedAccessKey" />
    <add key="Azure.ServiceBus.AccessKey.Value" value="" />
    <!-- Environment (for suffixing Queues and Topics) and scheme -->
    <add key="Azure.ServiceBus.Scheme" value="sb" />
    <!-- End Azure -->
    <!--MessageBus retry config-->
    <add key="ServiceBus.RetryCount" value="3" />
    <add key="ServiceBus.RetryInterval" value="2000" />
    <add key="ServiceBus.RetryIntervalIncrement" value="100" />
  </appSettings>
</configuration>